.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  animation: fadeIn 0.5s ease-out forwards;
}

.overlay.fadeOut {
  animation: fadeOut 0.7s ease-out forwards;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transform: translateY(0);
  animation: slideIn 0.5s ease-out forwards;
}

.modal.fadeOut {
  animation: slideOut 0.7s ease-out forwards;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  cursor: pointer; /* Вказує, що зображення клікабельне */
}

/* Анімація для overlay */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Анімація для modal появи */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Анімація для fadeOut overlay */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Анімація для modal закриття */
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
